<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>Filter.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>Filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
            <url-pattern>/</url-pattern>
        
        
    </filter-mapping>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChiTietSachServlet</servlet-name>
        <servlet-class>BookController.ChiTietSachServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuanLiSachServlet</servlet-name>
        <servlet-class>BookController.QuanLiSachServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaSachServlet</servlet-name>
        <servlet-class>BookController.XoaSachServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemSachServlet</servlet-name>
        <servlet-class>BookController.ThemSachServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChinhSuaSachServlet</servlet-name>
        <servlet-class>BookController.ChinhSuaSachServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimKiemSachServlet</servlet-name>
        <servlet-class>BookController.TimKiemSachServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuanLiNhanVienServlet</servlet-name>
        <servlet-class>NhanVienController.QuanLiNhanVienServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaNhanVienServlet</servlet-name>
        <servlet-class>NhanVienController.XoaNhanVienServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemNhanVienServlet</servlet-name>
        <servlet-class>NhanVienController.ThemNhanVienServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNhanVienServlet</servlet-name>
        <servlet-class>NhanVienController.UpdateNhanVienServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginNhanVienServlet</servlet-name>
        <servlet-class>LoginSigup.LoginNhanVien</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangKiTaiKhoanServlet</servlet-name>
        <servlet-class>LoginSigup.DangKiTaiKhoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuanLiTaiiKhoanServlet</servlet-name>
        <servlet-class>TaiKhoanController.QuanLiTaiiKhoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>LoginSigup.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuanLiTheServlet</servlet-name>
        <servlet-class>TheThuVienController.QuanLiTheServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangKyTheServlet</servlet-name>
        <servlet-class>TheThuVienController.DangKyTheServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThongTinDocGiaServlet</servlet-name>
        <servlet-class>TheThuVienController.ThongTinDocGiaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapNhatTaiKhoanServlet</servlet-name>
        <servlet-class>TaiKhoanController.CapNhatTaiKhoanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapNhatTheServlet</servlet-name>
        <servlet-class>TheThuVienController.CapNhatTheServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChinhSuaDocGiaServlet</servlet-name>
        <servlet-class>DocGiaController.ChinhSuaDocGiaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>QuanLyDocGiaServlet</servlet-name>
        <servlet-class>DocGiaController.QuanLyDocGiaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XoaDocGiaServlet</servlet-name>
        <servlet-class>DocGiaController.XoaDocGiaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemDocGiaServlet</servlet-name>
        <servlet-class>DocGiaController.ThemDocGiaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangKiTheServlet</servlet-name>
        <servlet-class>TheThuVienController.DangKiTheServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDocGiaServlet</servlet-name>
        <servlet-class>LoginSigup.LoginDocGiaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangKiTaiKhoanNhanVien</servlet-name>
        <servlet-class>LoginSigup.DangKiTaiKhoanDocGia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DangKyTaiKhoan</servlet-name>
        <servlet-class>LoginSigup.DangKyTaiKhoan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Profile</servlet-name>
        <servlet-class>ProfileController.Profile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ticketcontroller</servlet-name>
        <servlet-class>TicketController.ticketcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaoTheServlet</servlet-name>
        <servlet-class>TheThuVienController.TaoTheServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChiTietSachServlet</servlet-name>
        <url-pattern>/chitietsach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuanLiSachServlet</servlet-name>
        <url-pattern>/quanlisach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaSachServlet</servlet-name>
        <url-pattern>/xoasach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemSachServlet</servlet-name>
        <url-pattern>/themsach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChinhSuaSachServlet</servlet-name>
        <url-pattern>/chinhsuasach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimKiemSachServlet</servlet-name>
        <url-pattern>/timkiemsach</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuanLiNhanVienServlet</servlet-name>
        <url-pattern>/quanlinhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaNhanVienServlet</servlet-name>
        <url-pattern>/xoanhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemNhanVienServlet</servlet-name>
        <url-pattern>/themnhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNhanVienServlet</servlet-name>
        <url-pattern>/updatenhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginNhanVienServlet</servlet-name>
        <url-pattern>/loginnhanvien</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuanLiTaiiKhoanServlet</servlet-name>
        <url-pattern>/quanlitaikhoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuanLiTheServlet</servlet-name>
        <url-pattern>/quanlithe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangKyTheServlet</servlet-name>
        <url-pattern>/dangkythe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThongTinDocGiaServlet</servlet-name>
        <url-pattern>/thongtindocgia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapNhatTaiKhoanServlet</servlet-name>
        <url-pattern>/capnhattaikhoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapNhatTheServlet</servlet-name>
        <url-pattern>/capnhatthe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChinhSuaDocGiaServlet</servlet-name>
        <url-pattern>/chinhsuadocgia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>QuanLyDocGiaServlet</servlet-name>
        <url-pattern>/quanlidocgia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XoaDocGiaServlet</servlet-name>
        <url-pattern>/xoadocgia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemDocGiaServlet</servlet-name>
        <url-pattern>/themdocgia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangKiTheServlet</servlet-name>
        <url-pattern>/dangkithe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDocGiaServlet</servlet-name>
        <url-pattern>/logindocgia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangKiTaiKhoanNhanVien</servlet-name>
        <url-pattern>/dangkitaikhoandocgia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DangKyTaiKhoan</servlet-name>
        <url-pattern>/dangkytaikhoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Profile</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ticketcontroller</servlet-name>
        <url-pattern>/ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaoTheServlet</servlet-name>
        <url-pattern>/taothe</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>homepage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
